* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*background-image: url("../images/AspectosOratoria.png");*/
    /*background: purple;*/
    font-family: "Lato", sans-serif;
    color: #333;
    font-weight: 300;
    width: 100%;
    height: 100%;
    margin: 0;
}

header {
    vertical-align: middle;
    margin: .325em;
}

.container {
    vertical-align: middle;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

#list {
    width: 100%;
    height: 100%;
    /*background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 360.75%;
    visibility: hidden;*/
    /*border: 1px solid red;*/
}

#list-head {
    width: 100%;
    background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
    padding-top: 16.5%;
}

#pic-head {
}

#list-left {
    width: 66.5%;
    height: 0;
    background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-position: 0% 107.5%;
    background-size: 150.5% 104.5%;
    padding-bottom: 337.5%;
    padding-left: 66.5%;
    display: inline-block;
}

#list-right {
    width: 33.5%;
    height: auto;
    display: inline-block;
}

#pic-left {
}

#pic-right {
}
