* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    font-weight: 300;
    font-size: 1vw;
    width: 100%;
    height: auto;
}

ul {
}

li {
    float: left;
    list-style-type: none;
}

#list-body {
    vertical-align: middle;
    width: 100%;
    height: auto;
    overflow: auto;
}

#list-head {
    width: 100%;
    background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
    padding-top: 16.5%;
}

#list-left {
    width: 66.5%;
    height: 0;
    background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-position: 0% 106%;
    background-size: 150.5% 104.5%;
    padding-bottom: 337.5%;
    padding-left: 66.5%;
    display: inline-block;
    float: left;
}

#list-right {
    width: 33.5%;
    height: 0;
    background-image: url("../images/AspectosOratoria.png");
    background-repeat: no-repeat;
    background-position: 100% 106%;
    background-size: 298.25% 104.5%;
    padding-bottom: 337.5%;
    padding-right: 33.5%;
    display: inline-block;
    float: right;
}

.asp-glob{
    border: 1px solid red;
    width: auto;
}

.asp-top {
    border: 1px solid yellow;
}

.asp-botm {
    border: 1px solid green;
}

.asp-info {
    float: left;
    margin: 0 auto;
}

.asp-date {
    width: 45%;
}

.asp-chk {
    width: 10%;
}
